{
  "mqtt": {
    "host": "",
    "port": "1883",
    "topic": "Plant/Data",
    "error_topic": "Plant/Error",
    "username": "",
    "password": ""
  },

  "soil": {
    "pin": 32,
    "is_capacity_soil_sensor": true
  },

  "light":{
    "sda": 21,
    "scl": 22
  },

  "interval": {
    "valid": 60,
    "normal_duration": 1,
    "deep_start": 0,
    "deep_end": 6,
    "deep_duration": 3600
  },
  
  "error": {
    "log_limit": 10,
    "error_retry": 10,
    "retry_limit": 1800
  },

  "container_ID": 1
}
